<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.spilth"/>
        <listEntry value="archetypeArtifactId=java8-junit4-quickstart"/>
        <listEntry value="archetypeVersion=1.0.2"/>
        <listEntry value="groupId=br.com.dio"/>
        <listEntry value="artifactId=estruturadedadosemjavaintroducao"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=br.com.dio.estruturadedadosemjavaintroducao"/>
        <listEntry value="outputDirectory=/home/vitin.teixx/Área de Trabalho/--/Bk/eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/tmp/m2e-archetypeGenerator8786490820941504145"/>
</launchConfiguration>
